.footer {
  text-align: right;
  margin: 80px 20px 18px;

  a {
    font-family: 'Roboto', sans-serif;
    color: #2E6128;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}
