.stsite {
  text-align: center;
  margin: 200px 0 0;

  a {
    font-family: 'Roboto', sans-serif;
    color: #2E6128;
    font-weight: 700;
    font-size: 20px;

    &:hover {
      text-decoration: none;
    }
  }
}
