#header .title {
  line-height: 60px;
  height: 60px;
  font-size: 20px;
}

#logo {
  width: 33px;
  margin: 0 auto;

  a {
    display: block;
    width: 33px;
    height: 62px;
    background: url(./img/logo_site.png) no-repeat 50% 100%;
    padding: 0;
  }
}
